@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            ALO 120 MFY Akademi bilgi ve destek hattı
        </p>
        <i class="fa fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Sakarya Üniversitesi Serdivan/Sakarya
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            fatihyldrm3693@gmail.com
        </p>
    </div>
</div>

<h1>Contact</h1>